body {
    font-family: 'courier new';
    .info {
        position: absolute;
    }
    .user-info {
        @extend.info;
        left: 50px;
    }
    .ai-info {
        @extend.info;
        right: 50px;
    }
    .end-info {
        postion: absolute; 
        bottom: 50px;
    }
    .customer-report {
        
    }

}