td {
	width: 150px;
	border: solid 1px;
}
table {
	border: solid;
}
input {
	border-style: solid;
	margin: 10px;
	height: 25px;
	border-radius: 7px;
	border-width: 2px;
	border-color: grey;
	font-size: 15px;
}
body {
	position: absolute;
}
.main {
	border-style: solid;
	background: #dadada;
	width: 300px;
	border-radius: 15px;
	padding: 10px;
}
.button {
	height: 40px;
	width: 100px;
	border-radius: 10px;
	background-color: #8080ff;
	color: white;
	padding: 10px;
	margin-left: 100px;
	border-color: grey;
}
.button:hover {
	background: #3cb0fd;
	text-decoration: none;
}
.usersManaging {
	margin-left: 200px;
	top: 0;
	position: fixed;
}
.menu {
	width: 199px;
	position: fixed;
	top: 10%;
}

