
button {
    margin: 12px;
}
.start-div {
    text-align: center;
    font-size: 22px;
}

.hide {
    display: none;
}

.board {
    
}

.cell {
    background-color:cornflowerblue;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    float: left;
}
.rowDiv {
    width: 100%;
    height: 32px;
}
.snake {
    background: black;
}

.food {
    background-image: url(../img/frog.jpg);
}

