/* line 1, ../sass/screen.scss */
body {
  font-family: 'courier new';
}
/* line 3, ../sass/screen.scss */
body .info, body .user-info, body .ai-info {
  position: absolute;
}
/* line 6, ../sass/screen.scss */
body .user-info {
  left: 50px;
}
/* line 10, ../sass/screen.scss */
body .ai-info {
  right: 50px;
}
/* line 14, ../sass/screen.scss */
body .end-info {
  postion: absolute;
  bottom: 50px;
}
